body {
    color: deepskyblue;
    text-align: center;
    font-family: "Courier";
    font-size: 16px;
}

#container{
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 1px solid teal;
    margin: 0 auto;
}

#cabecera{
    color: wheat;
    background-color: red;
    box-shadow: 0px 2px 20px 0px black;
    margin: 0;
    padding: 0.5em;
}

#container h1{
    font-size: 20px;
    color: violet;
}